.tombol-menu {
  background-color: #d8a306;
  color: aliceblue;
  padding: 14px 10px 5px 10px;
  text-align: center;
  border-radius: 5px;
}


.tombol-menu:hover {
  background-color: orange;
  /* color: aqua;
  padding: 10px; */
  font-weight: bold;
  border-radius: 5px;
}

.titleNama {
  z-index: 999;
  position: absolute;
  background-color: #d8a306;
  width: 100%;
  font-size: 12px;
  top: 245px;
  padding-left: 10px;
}


.float {
  position: fixed;
  width: auto;
  height: 40px;
  padding: 10px;
  bottom: 100px;
  right: 80px;
  z-index: 999;
  background-color: #d8a306;
  color: #FFF;
  /* border-radius:50px; */
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}


@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .hide-mobile {
    /* display: none; */
  }
}

 

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {}

@media (min-width: 575.98px) {
  .d_show{
   display: none;
  }
}


.float1 {
  position: fixed;
  width: auto;
  height: 40px;
  padding: 10px;
  bottom: 80px;
  right: 80px;
  z-index: 999;
  color: orange;
  /* border-radius:50px; */
  text-align: center;

}


.my-float {
  margin-top: 22px;
}

.mce-notification-inner, .mce-widget, .mce-notification, .mce-notification-warning, .mce-has-close {
  display: none;
}

.gradien1 {
  background: #dfb163;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(180deg, #dfb163 0%, #dfb163 0%, rgba(255, 255, 255, 1) 74%);
}


.float-kiri {
  position: fixed;
  width: 60px;
  /* height: 40px; */
  bottom: 40px;
  right: 40px;
  /* background-color: #dfb163; */
  color: black;
  /* border-radius: 50px; */
  z-index: 999;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

a:hover {
  color: #a36f0d;
  text-decoration: none;
  text-shadow: 0px 0px;
}

.f12 {
  font-size: 12px;
}

.gradien2 {
  /* background: rgb(255,165,0); */
  background: linear-gradient(180deg, #DFB163 0%, #DFB163 73%, #fdf7ece6 100%);
}


/* Utilities */
.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,
      minmax(var(--auto-grid-min-size, 20rem), 1fr));
  grid-gap: var(--auto-grid-gap, 0);
  padding: 0;
}

.flow>*+* {
  margin-top: var(--flow-space, 1em);
}

/* Composition */
.team {
  --flow-space: 2em;
}

/* Blocks */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem 0px 1.5rem 1.5rem;
  color: #ffffff;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
}

.profile::before,
.profile::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /*inset: 0;*/
  top: 0;
  left: 0;
}

.profile::before {
  background: linear-gradient(to top,
      hsl(0 0% 0% / 0.79) 0%,
      hsl(0 0% 0% / 0.787) 7.8%,
      hsl(0 0% 0% / 0.779) 14.4%,
      hsl(0 0% 0% / 0.765) 20.2%,
      hsl(0 0% 0% / 0.744) 25.3%,

    );
  transition: 600ms opacity linear;
}

.profile::after {
  background: linear-gradient(45deg,
      rgba(255, 255, 255, 0.411) 0,
      rgba(255, 217, 0, 0.267) 100%);
  opacity: 0;
  transition: 600ms opacity linear;
}

.profile>* {
  z-index: 1;
}

.profile img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  object-fit: cover;
  /* filter: grayscale(1); */
  transition: filter 200ms ease, transform 250ms linear;
}

.profile h2,
.profile p {
  transform: translateY(2ex);
}

.profile h2 {
  /* font-size: 1.7rem; */
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.03ch;
  transition: 300ms transform ease;
  background: goldenrod;
  padding: 5px;
  border-radius: 10px 0px 0px 0px;
  width: 100%;
}

.profile p {
  font-size: 1.2rem;
  font-weight: 500;
}

.profile p {
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
  background: rgb(221 226 231 / 25%);
  color: black;
  padding: 3px;
}

.profile:focus {
  outline: 0.5rem solid white;
  outline-offset: -0.5rem;
}

.profile:hover :is(h2, p),
.profile:focus :is(h2, p) {
  transform: none;
}

.profile:hover::after,
.profile:focus::after,
.profile:hover::before,
.profile:focus::before {
  opacity: 0.7;
}

.profile:hover p,
.profile:focus p {
  opacity: 1;
  transition-delay: 200ms;
}

.profile:hover img,
.profile:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}

.image-border {
  border: 1px solid #ddd;
  padding: 5px
}


.list {
  display: flex;
  padding: 20px;
  overflow-x: scroll;
}

.item {
  height: 54px;
  width: 164px;
  flex-shrink: 0;
}

.item:not(:last-child) {
  margin-right: 10px;
}

/* 
  The styling below is only for the decoration of this demo, 
  it has no impact on scrolling or scroll behavior
*/

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: goldenrod;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.list {
  list-style: none;
  border: -7px solid #fff;
  background-color: #181818;
  padding: 8px;
  border-radius: 12px;
  padding-right: 20px;
  margin-right: 20px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: #181818;
  border-radius: 8px;
  font-size: 18px;
  /* text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4); */
  box-shadow: 0 2px 1px rgba(0, 0, 0, 1);
}

.item:hover {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.item:nth-child(4n + 1) {
  background-color: #facd3d;
}

.item:nth-child(4n + 2) {
  background-color: #d4ad2c;
}

.item:nth-child(4n + 3) {
  background-color: #d3a612;
}

.item:nth-child(4n + 4) {
  background-color: #ddcc94;
}

.item:not(:last-child) {
  margin-right: 10px;
}

.viewport {
  /* max-width: 520px; */
  /* width: calc(100% - 20px); */
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}